.footer{
  display: flex;
  flex-direction: row;
  margin-top: 4px;
  background-color:#172337;
  color: white;
}
.footer div p{
  margin: 0px;
  font-size: 12px;
  line-height: 26px;
}
.footer div{
  flex: 1;
  margin: 0;
  margin-top: 28px;
}
.About_sec p:hover{
  cursor: pointer;
  text-decoration: underline;
}
.Help_sec p:hover{
  cursor: pointer;
  text-decoration: underline;
}
.Policy_sec p:hover{
  cursor: pointer;
  text-decoration: underline;
}
.Social_sec p:hover{
  cursor: pointer;
  text-decoration: underline;
}
.footer .About_sec,.Help_sec,.Policy-sec,.Social_sec{
  min-width: 90px;
  margin-right: 12px;
}
.footer .Mailus_sec,.ROA{
  min-width: 270px;
}
.footer .Mailus_sec p{
  line-height: 20px;
}
.footer .ROA p{
  line-height: 20px;
}
.footer .About_sec{
  margin-left: 60px;
}
.footer .ROA{
  margin-right: 10px;
}
h6{
color: gray;
font-size: 13px;
font-weight: 500;
margin-top: 6px;
}
.footer .Social_sec{
  border-right: rgb(129, 129, 129);
  border-right-style: solid;
  border-width: 1px;
  margin-right: 20px;
  height: 140px;
}
@media (max-width: 400px){
 .footer{
   display:none;
 }
}
