.shortcut-sec{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 55px;
  padding-left: 10px;
  padding-right: 10px;
  height: 130px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.shortcut-sec .sp{
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  padding-left: 20px;
  cursor: pointer;
}
.shortcut-sec #spfirst{/*Incomplete work*/
  padding-left:clamp(10px, 1%, 100px);
}
.shortcut-sec #splast{/*Incomplete work*/
  padding-left:clamp(10px, 1%, 100px);
}
.shortcut-sec .sp img{
  width: 62px;
}
.shortcut-sec .sp p{
  margin: 0px;
  font-size: 13px;
  font-weight: bold;
  padding-top: 5px;
  color: rgb(65, 64, 64);
}
.shortcut-sec .sp p:hover{
  color: rgb(34, 120, 232);
}